<div id="header-wrapper">
	<div id="header" class="clearfix">
		<h1><%= link_to "usualGuide", root_url, :class=>'app-title' %></h1>
		<!-- <span class="limiter">|</span> -->
		
		<ul class='navigation-main clearfix'>
			<li>
				<% if current_user %>
					<%#= link_to "logout", logout_url%>
					logout
				<% else %>
					<%#= link_to "login", login_url%>
					login
				<% end %>
			</li>
				
				<% if params[:controller]=="welcome"%>
					<li>
						<%#= link_to "Register", register_url%>
						Register
					</li>
				<% end %>
	
		</ul>
		
	</div> <!-- EO div#header -->
</div> <!-- EO div#header-wrapper -->